/* Main CSS file */
/* @media screen and (max-width:768px) { */
 /* base styling */
 /* Box Model */
/* * {
	box-sizing: border-box;
}
:root{
    --white:#FFF;
    --black:#000;
    --font-stack: 'Arial,sans-serif'
}
html{
	font-size: 12px;
    font-family: var(--font-stack);
}
html, body {
    height:100%;
	margin:0;
	padding:0;
}
iframe{
    border:none;
    width:100%;
    height:99vh;
} */
 * {
  box-sizing: border-box;
}
:root {
  --white: #FFF;
  --black: #000;
  --font-stack: 'Arial, sans-serif';
}
html {
  font-size: 12px;
  font-family: var(--font-stack);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#iframe-container {
  width: 100%;
  height: 100vh;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
}
/* Adding background image to sheet - gYUVs 
//New Q4 screen
{
    "appId": "97b6233b-2ce6-43c1-9705-fce4897232a1",
    "sheetId": "gYUVs",
},
*/
/* #grid-wrap article[role="contentinfo"] > div:has(.qv-object-dQgMgc) {
	background-image: url('https://spdataisreal.eu.qlikcloud.com/api/v1/apps/97b6233b-2ce6-43c1-9705-fce4897232a1/media/files/%D7%AA%D7%9E%D7%95%D7%A0%D7%AA%20%D7%A8%D7%A7%D7%A2.jpg') !important;
	background-size:cover !important;
	background-position:center !important;
	background-repeat:no-repeat !important;
}
.qv-object-dQgMgc .top-aligned-items .cards .card:first-child .top {
    color: #000e80 !important;
    font-weight:600;
} */